# Proj
config.yaml
main.log
log/
# Node.JS
package-lock.json
yarn.lock
pnpm-lock.yaml
node_modules/*
KaliumCore.db
logs/
# Prisma
prisma/*
!prisma/mysql/
!prisma/pgsql/
# env
.env
# Prod
dist/
# Editor
/.vs
.vscode
