# Proj
config.yaml
main.log
log/
# Node.JS
package-lock.json
yarn.lock
pnpm-lock.yaml
node_modules/*
KaliumCore.db
logs/
# Prisma
prisma/*
!prisma/mysql/
!prisma/pgsql/
!prisma/migrations/
!prisma/migrations/**
# env
.env
# Prod
dist/
# Local debug
tunnel.cjs
# Editor
/.vs
.vscode
io.html
whats.html
